*{
    margin: 0px;
    padding: 0px;
}

body {
    width: 90%;
    background-color: whitesmoke;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    margin-bottom: 40px;
}

.logo {
   float: left;
    position: fixed;
    width: 10em;
    margin-left: 25px;
   
}

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 3em;
    float: inherit;
    padding-top: 45px;
    
}



.menu {
    width: 20%;
    margin-left: 2em;
    position: fixed;
}

h2 {
    font-size: 1.8em;
}


.menubtn {
    margin-bottom: 1em;
}

.menubtn:hover {
    transform: scale(1.2)
}

.tekstboks {
    width: 70%;
    height: 50em;
    float: right;
    font-size: 1em;
}